<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- データベース接続文字列(開発用) SQL Server 2008 R2-->
        <add key="ConnectString" value="Data Source=(local)\SQLEXPRESS; Initial Catalog=sampleDB; Integrated Security=SSPI;"/>
        <!--<add key="ConnectString" value="Data Source=Kens-PC; Initial Catalog=TSql_SampleDB; Integrated Security=SSPI;"/>-->
    </appSettings>
</configuration>