<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- データベース接続文字列(開発用) SQL Server 2008 R2-->
    <connectionStrings>
        <add name="DefaultDatabase" connectionString="Data Source=(local)\SQLEXPRESS; Initial Catalog=sampleDB; Integrated Security=SSPI;" />
    </connectionStrings>
</configuration>